:root {
    --dark1: #0d1b2a;
    --dark2: #1b263b;
    --light1: #415a77;
    --light2: #778da9;
    --whiteColor: #e0e1dd;
}

body {
    background-color: var(--light1);
    margin: 0;
    user-select: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    background-color: black;
    background-image: url(/Main/assets/space.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    grid-column: 1/4;
    aspect-ratio: 3/1;
}

.name {
    color: var(--whiteColor);
    text-align: center;
    margin: 0;
    font-family: 'Arial', 'PT Serif', serif;
}

.first {
    margin-top: 8vw;
    font-size: max(8vw, 45px);
}

.last {
    font-size: max(5vw, 25px);
}

.aboutMe {
    font-size: max(1.5vw, 12px);
    color: var(--whiteColor);
    text-align: center;
    margin-top: 4%;
    font-family: 'PT Serif', serif;
}

#majority {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5vw;
    padding: 1em;
    font-size: 20px;
    color: var(--whiteColor);
}

.title {
    background-color: var(--dark1);
    grid-column: 1/4;
    aspect-ratio: 12/1;
    text-align: center;
}

.title > p {
    margin-top: 3%;
    font-size: min(6vw, 30px);
    font-family: 'PT Serif', serif;
}

.project {
    background-color: var(--dark2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2px;
}

.project:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.project > img {
    border-radius: 2px 2px 0 0;
    aspect-ratio: 5/3;
}

.container > p, .container > a {
    margin: 16px;
    padding: 2px 16px;
    font-family: 'Arial', 'PT Serif', serif;
    display: inline-block;
    color: var(--whiteColor);
}

.projectTitle {
    font-size: 1em;
}

.projectLinks {
    font-size: 0.8em;
    font-family: 'PT Serif', serif;
    float: right;
    text-decoration: underline 1px;
}

@media only screen and (max-width: 720px) {
    #majority {
      grid-template-columns: 1fr;
    }
    .title {
        grid-column: 1/2;
    }
}